.reversi table {
    background: #00AA00;
}

.reversi td {
    width: 40px;
    height: 40px;
    border: 1px dashed #000000;
    cursor: pointer;
}

.reversi td span {
    display: block;
    visibility: hidden;
    width: 30px;
    height: 30px;
    border-radius: 20px; 
    -moz-border-radius: 20px; 
    -webkit-border-radius: 20px; 
    margin: 5px 0 0 5px;
}

.reversi .score-node {
    display: inline-block;
    width: 125px;
    padding: 10px;
    font-size: 30px;
    background: #DDDDDD;
    border-radius: 20px; 
    -moz-border-radius: 20px; 
    -webkit-border-radius: 20px;
    margin: 10px;
    text-align: center;
}

.reversi .score-black {
    color: black;
}

.reversi .score-white {
    color: white;
}

.block2 {
    width: 318px;
    background: #fc0;
    padding: 5px;
    border: solid 1px black;
//    float: left;
    text-align: center;
    top: 0px;
    left: 0px;
}

.block1 {
    width: 500px;
    background: #EEEEEE;
    padding: 50px;
    border: solid 1px black;
    align: center;
}

.block3 {
    width: 100px;
    background: #bbb;
    padding: 5px;
    border: solid 1px black;
    text-align: center;
    font-size: 14px;
}

.block4 {
    width: 100px;
    background: #bbb;
    padding: 5px;
    border: solid 1px black;
    text-align: left;
    font-size: 14px;
}

.textarea1 {
    width: 490px;
    rows: 5;
    owerflow: auto;
//    padding: 10px;
}

label.t2 {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
    text-align: left;
}


#verticalButtons{
    display: flex;
    flex-direction: column;
//    float: right;
}

.button{
    border: 1;
    border-radius: 5px;
    padding: 5px 5px 7px 5px;
    margin: 2px;
    cursor: pointer;
    background: #FFFFFF
}

.button:hover{
    background: blue;
}

table.t1 {
    background-color: red;
    align: center;
    cellspacing: 100px;
}

td.t1 {
    vertical-align: middle;
    align: center;
    width: 100px;
    padding: 50px;
}
